In [4]:
import pandas as pd
import json
from math import nan, isnan

In [5]:
names=pd.read_excel("Laman_all_names.xlsx")
deity=pd.read_excel("Laman_deity_name_instances.xlsx")
person=pd.read_excel("Laman_personal_name_instances.xlsx")

In [7]:
names["Attestation"]=""

In [8]:
names

,Name ID,Writing_clean,Det_2,Det_1,Other classifier data,Name_clean,Correspondence,Milieu,Linguistic_analysis,Literature,DN_clean,Type,Completeness,Variant_Forms,Query,Instances,Attestation
0,0,logographic,NaN,D,NaN,10,"Taru, Teššub, Tarḫunt, Tarḫunna, Tarḫunta",NaN,NaN,NaN,10,deity,NaN,NaN,"10,taru,tesub,tarhunt,tarhuna,tarhunta","DNI1019, DNI1020, DNI1021, DNI1022, DNI1023, D...",
1,1,logographic,NaN,m,NaN,<sup>D</sup>10-aš,NaN,NaN,NaN,NaN,10,person,NaN,NaN,"10as,10",NaN,
2,2,logographic,NaN,D,NaN,30,Kušuḫ,NaN,NaN,NaN,30,deity,NaN,NaN,"30,kusuh","DNI2231, DNI2232, DNI2233, DNI2234, DNI2235, D...",
3,3,logographic,NaN,m,NaN,<sup>D</sup>30-x[,NaN,NaN,NaN,NaN,30,person,NaN,NaN,30,NaN,
4,4,logographic,NaN,m,NaN,<sup>D</sup>30-<sup>D</sup>10,NaN,NaN,NaN,NaN,3010,person,NaN,NaN,"10,3010",NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4996,phonetic,NaN,gn,NaN,Zunzurḫi,NaN,NaN,NaN,NaN,zunzurhi,place,NaN,NaN,zunzurhi,NaN,
4997,4997,phonetic,NaN,gn,NaN,Zupaniun,NaN,NaN,NaN,NaN,zupaniun,place,NaN,NaN,zupaniun,NaN,
4998,4998,phonetic,NaN,gn,NaN,Zupara,NaN,NaN,NaN,Kryszen 2016,zupara,place,NaN,NaN,zupara,NaN,
4999,4999,phonetic,NaN,gn,NaN,]zuwa-x-ru,NaN,NaN,NaN,NaN,zuwaru,place,acephalous,NaN,zuwaru,NaN,
5000,5000,phonetic,NaN,gn,NaN,Zuwinašša,NaN,NaN,NaN,NaN,zuwinasa,place,NaN,Zuwanašša,"zuwinasa,zuwanasa",NaN,

In [42]:
for i,row in names.iterrows():
    ins=row["Instances"]
    if type(ins)==str:
        ins=ins.split(", ")
        refs=[]
        for instance in ins:
            tip=instance[:3]
            kod=int(instance[3:])
            if tip=="DNI":
                ref=str(deity.iloc[kod]["Occurrence & notes"])
            elif tip=="PNI":
                ref=str(person.iloc[1000]["Attestation"])
            refs.append(ref)
        while "nan" in refs:
            refs.remove("nan")
        refs=", ".join(refs)
        names.at[i,"Attestation"]=refs

In [36]:
refs=[1,2,3]

In [43]:
names["Attestation"].head(20)

0     KBo 51.108 6 [ , KBo 43.202 ii 6  , KBo 52.208...
1
2     KBo 44.5 6 [ , KBo 50.36 iv 5  , KBo 50.47 2 [...
3
4
5
6
7
8
9
10
11
12    KBo 62.8 rev. 7  , ABoT 2.231 i 26  , ABoT 2.2...
13
14
15
16
17
18
19
Name: Attestation, dtype: object

In [22]:
deity.iloc[1019]["Occurrence & notes"]

'KBo 51.108 6 [ '

In [31]:
person.iloc[1000]["Attestation"]

'StBoTB 4.22 obv. 20'

In [55]:
names=names.fillna("")

In [56]:
result=names.to_dict("records")

In [57]:
with open("data.json","w") as d:
    json.dump(result,d)